<!-- Button trigger modal -->
<body>
<div class="container2">
  <div class="one2">
      <img class="imgC" src="../../../assets/img/foto.jpg" alt="">
  </div>
  <div class="two2">
      <H2>FLORES SOLIS ANTONIO EMMANUEL</H2>
      <h3>19680145</h3>
  </div>
</div>
<div class="container">
  <div class="one">
    <div class="card" style="width: 18rem;">
      <img class="card-img-top" src="../assets/img/genshin.jpg" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">VIDEOJUEGOS</h5>
        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
          Informacion
        </button>
      </div>
    </div>
  </div>
  <div class="two">
    <div class="card" style="width: 18rem;">
      <img class="card-img-top" src="../assets/img/guitarra.jpg" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">GUITARRA</h5>
        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal2">
          Informacion
        </button>
      </div>
    </div>
  </div>
  <div class="tree">
    <div class="card" style="width: 18rem;">
      <img class="card-img-top" src="../assets/img/libro.jpg" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">LECTURA</h5>
        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal3">
          Informacion
        </button>
      </div>
    </div>
  </div>
</div>
<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">HOBBY: Jugar Videojuegos</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <H4>Uno de los principales hobbys que tengo es jugar videojuegos, los juegos a los que he invertido mas horas
          son:<br />
          Genshin Impact<br />
          Saga de Final Fantasy</H4>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="exampleModal2" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">HOBBY: Tocar Guitarra</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <h4>Una habilidad la cual aun estoy en proceso de practica es tocar la guitarra, es una habilidad la cual sigo
          aprendiendo y mejorando al dia de hoy</h4>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="exampleModal3" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">HOBBY: Leer</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <h4>Un hobby que he adquirido reciente mente es la lectura, aunque no he leido una gran cantidad de libros es un
          hobby el cual cada dia disfruto mas</h4>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
</body>