h6,
.h6,
h5,
.h5,
h4,
.h4,
h3,
.h3,
h2,
.h2,
h1,
.h1 {
  margin-top: 0;
  margin-bottom: 0.5rem;
  font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-weight: 700;
  line-height: 1.2;
}

h1,
.h1 {
  font-size: calc(1.375rem + 1.5vw);
}


h2,
.h2 {
  font-size: calc(1.325rem + 0.9vw);
}




h6,
.h6 {
  font-size: 1rem;
}

p {
  margin-top: 0;
  margin-bottom: 1rem;
}


.tamanio {
  width: 80%;
  margin-left: 70px;
}

.gen {
  margin-top: 50px;

}

.tama {
  width: 60%;
  padding-right: -200px;
  margin-left: 50px;
}

.tam {
  margin-left: 2rem;
  align-items: center;
}



.container,
.container-fluid,
.container-xxl,
.container-xl,
.container-lg,
.container-md,
.container-sm {
  width: 100%;
  padding-right: var(--bs-gutter-x, 0.75rem);
  padding-left: var(--bs-gutter-x, 0.75rem);
  margin-right: auto;
  margin-left: auto;
}

.container1 {
  width: 50%;
}
.row {
  --bs-gutter-x: 1.5rem;
  --bs-gutter-y: 0;
  display: flex;
  flex-wrap: wrap;
  margin-top: calc(-1 * var(--bs-gutter-y));
  margin-right: calc(-0.5 * var(--bs-gutter-x));
  margin-left: calc(-0.5 * var(--bs-gutter-x));
}

.row>* {
  flex-shrink: 0;
  width: 100%;
  max-width: 100%;
  padding-right: calc(var(--bs-gutter-x) * 0.5);
  padding-left: calc(var(--bs-gutter-x) * 0.5);
  margin-top: var(--bs-gutter-y);
}

.sfw {
  width: 90%;
  text-align: center;
  font-size: 90%;
  margin-left: 5%;

  align-items: center;
}
.col-auto {
  flex: 0 0 auto;
  width: auto;
}
.row-cols-sm-auto>* {
  flex: 0 0 auto;
  width: auto;
}
.col-sm-auto {
  flex: 0 0 auto;
  width: auto;
}
.card {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 0.125rem solid rgba(0, 0, 0, 0.125);
  border-radius: 0.5rem;
}

.fondo {
  background-color: cornflowerblue;
}

.fondo2 {
  background-color: #badce3;
}