.tcontainer {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
    grid-auto-rows: minmax(100px, auto);
    background: linear-gradient( to right, #F3D9FF, #E5B3FE);
}
  .one {
    grid-column: 1 / 4;
    grid-row: 1;
  }
  .two {
    grid-column: 2 / 4;
    grid-row: 1;
  }
  .tree{
    grid-column: 3 / 4;
    grid-row: 1;
  }
  .four{
    grid-column: 4 / 4;
    grid-row: 1;
  }
  .imgC {
    width:300px;
    height:350px;
    border-radius:150px;
    margin-right: 50%;
    margin-top: 2rem;
  }

.tcontainer2 {
    margin-top: 2rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
    grid-auto-rows: minmax(100px, auto);
    background: linear-gradient( to right, #F3D9FF, #E5B3FE);
}
  .one2 {
    margin-left: 8rem;
    grid-column: 1 / 2;
    grid-row: 1;
  }
  .two2 {
    margin-top: 7rem;
    grid-column: 2 / 2;
    grid-row: 1;
    font-family: 'Times New Roman', Times, serif;
  }