<div class="tcontainer2">
    <div class="one2">
        <img class="imgC" src="../../../assets/img/tania/tania.jpg" alt="">
    </div>
    <div class="two2">
        <h1>Mora Tlaseca Tania Yamilet</h1>
        <h3>19680203</h3>
    </div>
    <br>
</div>
  <div class="tcontainer">
    <div class="one">
      <div class="card" style="width: 18rem;" >
        <img class="card-img-top" src="../assets/img/tania/jardin.jpg" alt="Card image cap" width="200" height="250">
        <div class="card-body">
          <h5 class="card-title">Jardineria</h5>
          <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
            Más
          </button>
        </div>
      </div>
    </div>
    <div class="two">
      <div class="card" style="width: 18rem;">
        <img class="card-img-top"  src="../assets/img/tania/musi.png" alt="Card image cap" width="200" height="250">
        <div class="card-body">
          <h5 class="card-title">Escuchar musica</h5>
          <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal2">
            Más
          </button>
        </div>
      </div>
    </div>
    <div class="tree">
      <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="../assets/img/tania/leer.png" alt="Card image cap" width="200" height="250">
        <div class="card-body">
          <h5 class="card-title">Leer</h5>
          <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal3">
            Más
          </button>
        </div>
      </div>
    </div>
    <div class="four">
      <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="../assets/img/tania/paraca.jpg" alt="Card image cap" width="200" height="250">
        <div class="card-body">
          <h5 class="card-title">Paracaidismo </h5>
          <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal4">
            Más
          </button>
        </div>
      </div>
    </div>
  </div>
  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">HOBBY: JARDINERIA</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <h5>Es lo que mas disfruto realizar, no es trabajo pesado, solo cuidar plantas y lo que conlleva</h5>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
  
  <div class="modal fade" id="exampleModal2" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">HOBBY: ESCUCHAR MUSICA</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <h4>Disfruto mucho de la musica que no tengo favoritismo, me gusta escuchar de todo tipo</h4>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
  
  <div class="modal fade" id="exampleModal3" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">HOBBY: LEER</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <h4>No he leido muchos libros, pero es un pasatiempo que me agrada bastante</h4>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="exampleModal4" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">HOBBY: PARACAIDISMO</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <h4>No es una actividad que realice frecuentemente, pero es algo que me agrada mucho</h4>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>