.contenedor {
    width: 90%;
    height: 160vh;
    background: black;
    border-radius: 20px;
    margin: 0 auto;
  

}
.foto{

    width: 25%;
    height: 50vh;
    border-radius: 50%;
    border: 2px solid white;
    margin-left: 10px;
    background-image: url(../../../assets/fot.jpg);
    background-size: 90%;
}

.cardPadre {
    width: 80%;
    margin: 0 auto;
   
    display: flex;
    
}

.card {
    margin-top: 15%;
    margin-left: 5px;
    border: 2px solid white;
    width: 25%;
    height: 67vh;
    overflow: hidden;

}

.mov {
    width: 100%;
    height: 10vh;
    background-color: blue;
    border-bottom-left-radius: 35%;
    border-bottom-right-radius: 35%;
    overflow: hidden;
}

.mov:hover {
    width: 100%;
    height: 40vh;
    top: 10%;
}

h1 {
    text-align: center;
    color: white;
    margin-bottom: 10%;
}

.Inf {
    position: absolute;
    top: -100%;
    color: white;

}

h4 {

    text-align: center;

}

.mov:hover .Inf {
    top: 5%;
    position: absolute;



}

img {
    margin-top: 5%;
    margin-left: 5%;


}