<div class="contenedor">
<div class="foto">
    
</div>
<h3>Herminio Vazquez Gustavo Josuhar</h3>
    <div class="cardPadre">
        <div class="card">
            <span class="mov">
                <h1>Musica</h1>
                <h4 class="Inf">
                    <hr>
                    Se puede decir 
                    que me gusta todo tipo de musica, 
                    pero la que escucho mas es el rap.
                    <hr>
                </h4>
            </span>
            <img src="../../../assets/musica.png" width="80%" class="im">
        </div>
        <div class="card"> <span class="mov">
            <h1>Deporte</h1>
            <h4 class="Inf">
                <hr>
                El deporte que mas me gusta es el baloncesto,puesto que se me hace un deporte 
                muy estilizado.
                <hr>
            </h4>
        </span>
        <img src="../../../assets/Deporte.png" width="80%">
    </div>
        <div class="card"><span class="mov">
            <h1>Paisaje</h1>
            <h4 class="Inf">
                <hr>
               <p> Me gusta caminar por lugares, tranquilos y 
                rodeados por la naturaleza.</p>
                <hr>
            </h4>
        </span>
        <img src="../../../assets/paisaje.png" width="80%">
    </div>
        <div class="card"> <span class="mov">
            <h1>Programar</h1>
            <h4 class="Inf">
                <hr>
                Estar en la computadora escrbiendo lineas de codigo,
                se me hace un trabajo muy estimulante.
                <hr>
            </h4>
        </span>
        <img src="../../../assets/Programar.png" width="80%">
    </div>

    </div>
</div>