.circular--square{
  width: 300px;
  height: 200px;

}
.p1{
  text-align: justify;
  }

  .i1{
      height: 70px;
  }
  .i2{
      height: 70px;
  }

  .columna {
      float: left;
      width: 33%;
      padding-right: 5px;
  }

  .fila::after {
      content: "";
      clear: both;
      display: table;
  }
  .modal-header{
    background-color: black;
    text-align: center;

  }
