<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DENY FERTS</title>
</head>
br
<body>
            <!-- Portfolio Eli-->
            <section class="content-section text-white text-center" id="services" style="background-color: rgb(181, 126, 220);">
                <div class="container px-4 px-lg-5">
                    <div class="deny">
                        <section class="content-section" id="portfolio">
                            <div class="container px-4 px-lg-5">
                                <div class="content-section-heading text-center">
                                    <img class="circular--square" src="assets/img/deny/denyy.jpeg" />
                                    <h2 style="color: black;">Olivares Romero Deny Fernanda</h2>
                                    <h2 class="mb-5"></h2>
                                </div>
                                <div class="row">
                                    <div class="col">
                                        <A type="button" (click)="modal.open(et3u2)">
                                            <IMG src="assets/img/deny/escr.jpg"  width="350px">
                                            </A>
                                    </div>
                                    <div class="col">
                                        <A type="button" (click)="modal.open(et4u2)">
                                            <IMG src="assets/img/deny/peli.jpg"  width="350px">
                                            </A>
                                    </div>
                                    <br>
                                </div>
                                <br>
                                <div class="row">
                                    <div class="col">
                                        <A type="button" (click)="modal.open(ani)">
                                            <IMG src="assets/img/deny/adeled2.jpg" width="350px">
                                            </A>
                                    </div>
                                    <div class="col">
                                        <A type="button" (click)="modal.open(ori)">
                                            <IMG src="assets/img/deny/ori.jpg" width="350px">
                                            </A>
                                    </div>
                                </div>
                            </div>
                        </section>
                    </div>
                </div>

                <section class="Escribir">
                    <ng-template #et3u2 let-modal>
                        <div class="mo" role="document">
                            <div class="modal-header">
                                <div class="text-center">
                                    <!-- Portfolio Modal - Title-->
                                    <h2 class="portfolio-modal-title text-secondary text-uppercase mb-0">Ecribir</h2>
                                    <!-- Portfolio Modal - Image-->
                                </div>
                            </div>
                            <div class="modal-body">
                                <p class="p1">Una de las actividades que más disfruto es escribir, considero que es un poco relajante y terapeutico.</p>
                                    <ol>

                                    </ol>

                            </div>
                            <div class="modal-footer">
                                <button class="btn btn-primary" data-bs-dismiss="modal" (click)="modal.close()">
                                    <i class="fas fa-xmark fa-fw"></i>
                                    Cerrar
                                </button>
                            </div>
                        </div>
                    </ng-template>
                </section>

                <section class="Peliculas">
                    <ng-template #et4u2 let-modal>
                        <div class="mo" role="document">
                            <div class="modal-header">
                                <div class="text-center">
                                    <!-- Portfolio Modal - Title-->
                                    <h2 class="portfolio-modal-title text-secondary text-uppercase mb-0">Peliculas y Series</h2>
                                    <!-- Portfolio Modal - Image-->
                                </div>
                            </div>
                            <div class="modal-body">
                                <p class="p1">Mis peliculas favoritas son las de accion, aventura, ciencia ficción, dramatica, documentales y estoy abierta a cualquiera que llame mi atención.
                                </p>
                                    <ol>
                                        <li>Sadman</li>
                                        <li>John Wick</li>
                                        <li>Barbie</li>
                                        <li>Harry Potter</li>
                                        <li>Un gran dinosauri</li>
                                        <li>The big bang theory</li>
                                    </ol>


                            </div>
                            <div class="modal-footer">
                                <button class="btn btn-primary" data-bs-dismiss="modal" (click)="modal.close()">
                                    <i class="fas fa-xmark fa-fw"></i>
                                    Cerrar
                                </button>
                            </div>
                        </div>
                    </ng-template>
                </section>

                <section class="Musica">
                    <ng-template #ani let-modal>
                        <div class="mo" role="document">
                            <div class="modal-header">
                                <div class="text-center">
                                    <!-- Portfolio Modal - Title-->
                                    <h2 class="portfolio-modal-title text-secondary text-uppercase mb-0">Escuchar Música</h2>
                                    <!-- Portfolio Modal - Image-->
                                </div>
                            </div>
                            <div class="modal-body">
                                <p class="p1">Otra de las actividades que disfruto es escuchar música, sirve cuando voy en combi jsjs
                                </p>
                                    <ol>
                                        <li>Adele</li>
                                        <li>Leiva</li>
                                        <li>Vetusta Morla</li>
                                        <li>DLD</li>
                                        <li>Pol 3.14</li>
                                        <li>Linkin Park</li>
                                        <li>Keane</li>
                                    </ol>
                                    <div class="fila">
                                        <div class="columna">
                                            <img class="i1" src="assets/img/v.jpg" alt="">
                                        </div>
                                        <div class="columna">
                                            <img class="i2" src="assets/img/b.jfif" alt="">
                                        </div>
                                        <div class="columna">
                                            <img class="i2" src="assets/img/h.jfif" alt="">
                                        </div>
                                    </div>
                                    <div class="fila">
                                        <div class="columna">
                                            <img class="i2" src="assets/img/x.jpeg" alt="">
                                        </div>
                                        <div class="columna">
                                            <img class="i2" src="assets/img/dc.jpg" alt="">
                                        </div>
                                        <div class="columna">
                                            <img class="i2" src="assets/img/bar.png" alt="">
                                        </div>
                                    </div>
                            </div>
                            <div class="modal-footer">
                                <button class="btn btn-primary" data-bs-dismiss="modal" (click)="modal.close()">
                                    <i class="fas fa-xmark fa-fw"></i>
                                    Cerrar
                                </button>
                            </div>
                        </div>
                    </ng-template>
                </section>


                <section class="Origami">
                  <ng-template #ori let-modal>
                      <div class="mo" role="document">
                          <div class="modal-header">
                              <div class="text-center">
                                  <!-- Portfolio Modal - Title-->
                                  <h2 class="portfolio-modal-title text-secondary text-uppercase mb-0">Origami</h2>
                                  <!-- Portfolio Modal - Image-->
                              </div>
                          </div>
                          <div class="modal-body">
                              <p class="p1">Origami es algo que puede desestresarme por momentos
                              </p>
                                  <ol>

                                  </ol>
                                  <div class="fila">
                                      <div class="columna">
                                          <img class="i1" src="assets/img/deny/orig.jpg" alt="">
                                      </div>
                                      <div class="columna">
                                          <img class="i2" src="assets/img/deny/or.jpg" alt="">
                                      </div>

                                  </div>
                          </div>
                          <div class="modal-footer">
                              <button class="btn btn-primary" data-bs-dismiss="modal" (click)="modal.close()">
                                  <i class="fas fa-xmark fa-fw"></i>
                                  Cerrar
                              </button>
                          </div>
                      </div>
                  </ng-template>
              </section>
            </section>
</body>
</html>
