<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/app/components/eli/eli.component.css">
    <title>Eli JR</title>
</head>
<body>
            <!-- Portfolio Eli-->
            <section class="content-section text-white text-center" id="services" style="background-image: url(assets/img/eli/ani.jpg);">
                <div class="container px-4 px-lg-5">
                    <div class="deny">
                        <section class="content-section" id="portfolio">
                            <div class="container px-4 px-lg-5">
                                <div class="content-section-heading text-center">
                                    <img class="i" src="assets/img/eli/yo.jpeg" />
                                    <h2 >Juárez Rodríguez Eli</h2>
                                    <h2 >19680175</h2>

                                </div>
                                <br>
                                <br>
                                <br>
                                <br>
                                <br>
                                <br>
                                <div class="row">
                                    <div class="col">
                                        <A type="button" (click)="modal.open(et3u2)">
                                            <IMG src="assets/img/eli/g.jpg"  width="400px">
                                            </A>
                                    </div>
                                    <div class="col">
                                        <A type="button" (click)="modal.open(et4u2)">
                                            <IMG src="assets/img/eli/c3.png"  width="400px">
                                            </A>
                                    </div>
                                    <br>
                                </div>
                                <br>
                                <div class="row">
                                    <div class="col">
                                        <A type="button" (click)="modal.open(ani)">
                                            <IMG src="assets/img/eli/c.jpg" width="400px">
                                            </A>
                                    </div>
                                    <div class="col">
                                        <A type="button" (click)="modal.open(musi)">
                                            <IMG src="assets/img/eli/s.jpg" width="400px">
                                            </A>
                                    </div>
                                </div>
                            </div>
                        </section>
                    </div>
                </div>

                <section class="Videojuegos">
                    <ng-template #et3u2 let-modal>
                        <div class="mo" role="document">
                            <div class="modal-header">
                                <div class="text-center">
                                    <!-- Portfolio Modal - Title-->
                                    <h2 class="portfolio-modal-title text-secondary text-uppercase mb-0">VideoJuegos Favoritos</h2>
                                    <!-- Portfolio Modal - Image-->
                                </div>
                            </div>
                            <div class="modal-body">
                                <p class="p1">Mis videojuegos favoritos son los Shooters y los de mundo abierto, entre ellos estan:  </p>
                                    <ol>
                                        <li>Call of duty</li>
                                        <li>Halo</li>
                                        <li>Battlefield</li>
                                        <li>Spiderman PS4</li>
                                        <li>God of War</li>
                                        <li>Gears of War</li>
                                    </ol>
                                    <div class="fila">
                                        <div class="columna">
                                            <img class="i1" src="assets/img/eli/sp.jpg" alt="">
                                        </div>
                                        <div class="columna">
                                            <img class="i2" src="assets/img/eli/elden.jpg" alt="">
                                        </div>
                                        <div class="columna">
                                            <img class="i2" src="assets/img/eli/r2.jpg" alt="">
                                        </div>
                                    </div>
                                    <div class="fila">
                                        <div class="columna">
                                            <img class="i2" src="assets/img/eli/re2.jpg" alt="">
                                        </div>
                                        <div class="columna">
                                            <img class="i2" src="assets/img/eli/z.jpg" alt="">
                                        </div>
                                        <div class="columna">
                                            <img class="i2" src="assets/img/eli/cod.jpg" alt="">
                                        </div>
                                    </div>
                            </div>
                            <div class="modal-footer">
                                <button class="btn btn-primary" data-bs-dismiss="modal" (click)="modal.close()">
                                    <i class="fas fa-xmark fa-fw"></i>
                                    Cerrar
                                </button>
                            </div>
                        </div>
                    </ng-template>
                </section>

                <section class="Peliculas">
                    <ng-template #et4u2 let-modal>
                        <div class="mo" role="document">
                            <div class="modal-header">
                                <div class="text-center">
                                    <!-- Portfolio Modal - Title-->
                                    <h2 class="portfolio-modal-title text-secondary text-uppercase mb-0">Peliculas y Series</h2>
                                    <!-- Portfolio Modal - Image-->
                                </div>
                            </div>
                            <div class="modal-body">
                                <p class="p1">Mis peliculas favoritas son las de SuperHeroes o Accion y algunas de terror,
                                    en las series casi es lo mismo, me gustan las comedias y las de accion y suspenso.
                                </p>
                                    <ol>
                                        <li>Batman</li>
                                        <li>La teoria del big bang</li>
                                        <li>Barbie</li>
                                        <li>Wolverine</li>
                                        <li>X-men</li>
                                        <li>Avengers</li>
                                    </ol>
                                    <div class="fila">
                                        <div class="columna">
                                            <img class="i1" src="assets/img/eli/v.jpg" alt="">
                                        </div>
                                        <div class="columna">
                                            <img class="i2" src="assets/img/eli/b.jfif" alt="">
                                        </div>
                                        <div class="columna">
                                            <img class="i2" src="assets/img/eli/h.jfif" alt="">
                                        </div>
                                    </div>
                                    <div class="fila">
                                        <div class="columna">
                                            <img class="i2" src="assets/img/eli/x.jpeg" alt="">
                                        </div>
                                        <div class="columna">
                                            <img class="i2" src="assets/img/eli/dc.jpg" alt="">
                                        </div>
                                        <div class="columna">
                                            <img class="i2" src="assets/img/eli/bar.png" alt="">
                                        </div>
                                    </div>
                            </div>
                            <div class="modal-footer">
                                <button class="btn btn-primary" data-bs-dismiss="modal" (click)="modal.close()">
                                    <i class="fas fa-xmark fa-fw"></i>
                                    Cerrar
                                </button>
                            </div>
                        </div>
                    </ng-template>
                </section>

                <section class="Anime">
                    <ng-template #ani let-modal>
                        <div class="mo" role="document">
                            <div class="modal-header">
                                <div class="text-center">
                                    <!-- Portfolio Modal - Title-->
                                    <h2 class="portfolio-modal-title text-secondary text-uppercase mb-0">Animes</h2>
                                    <!-- Portfolio Modal - Image-->
                                </div>
                            </div>
                            <div class="modal-body">
                                <p class="p1">Los animes que más me agrada ver suelen ser lo de comedia, algo de comedia-romantica,
                                    accion, aventura y un poco los de suspenso.
                                </p>
                                    <ol>
                                        <li>Kono Subarashii Sekai ni Shukufuku wo!</li>
                                        <li>Kobayashi-san Chi no Maid Dragon</li>
                                        <li>Attack on Titan</li>
                                        <li>Watashi ga Motenai no wa Dō Kangaetemo Omaera ga Warui!</li>
                                        <li>Uzaki-chan wa Asobitai!</li>
                                        <li>My Hero Academia</li>
                                    </ol>
                                    <div class="fila">
                                        <div class="columna">
                                            <img class="i1" src="assets/img/eli/k.jpe" alt="">
                                        </div>
                                        <div class="columna">
                                            <img class="i2" src="assets/img/eli/ko.jpg" alt="">
                                        </div>
                                        <div class="columna">
                                            <img class="i2" src="assets/img/eli/atack.jpg" alt="">
                                        </div>
                                    </div>
                                    <div class="fila">
                                        <div class="columna">
                                            <img class="i2" src="assets/img/eli/w.jpe" alt="">
                                        </div>
                                        <div class="columna">
                                            <img class="i2" src="assets/img/eli/u.jpe" alt="">
                                        </div>
                                        <div class="columna">
                                            <img class="i2" src="assets/img/eli/boku.jpg" alt="">
                                        </div>
                                    </div>
                            </div>
                            <div class="modal-footer">
                                <button class="btn btn-primary" data-bs-dismiss="modal" (click)="modal.close()">
                                    <i class="fas fa-xmark fa-fw"></i>
                                    Cerrar
                                </button>
                            </div>
                        </div>
                    </ng-template>
                </section>

                <section class="Musica">
                    <ng-template #musi let-modal>
                        <div class="mo" role="document">
                            <div class="modal-header">
                                <div class="text-center">
                                    <!-- Portfolio Modal - Title-->
                                    <h2 class="portfolio-modal-title text-secondary text-uppercase mb-0">Musica</h2>
                                    <!-- Portfolio Modal - Image-->
                                </div>
                            </div>
                            <div class="modal-body">
                                <p class="p1">La musica que llego a escuchar por lo general es rock, un poco de electronica, pop
                                    y me gusta tocar la guitarra.
                                </p>
                                    <ol>
                                        <li>All Good Things</li>
                                        <li>Katy Perry</li>
                                        <li>Lady Gaga</li>
                                        <li>Adele</li>
                                        <li>Bryce Fox</li>
                                        <li>Imagine Dragons</li>
                                    </ol>
                                    <div class="fila">
                                        <div class="columna">
                                            <img class="i1" src="assets/img/eli/agt.jpg" alt="">
                                        </div>
                                        <div class="columna">
                                            <img class="i2" src="assets/img/eli/mother.jpg" alt="">
                                        </div>
                                        <div class="columna">
                                            <img class="i2" src="assets/img/eli/sk.jpg" alt="">
                                        </div>
                                    </div>
                                    <div class="fila">
                                        <div class="columna">
                                            <img class="i2" src="assets/img/eli/sys.jpg" alt="">
                                        </div>
                                        <div class="columna">
                                            <img class="i2" src="assets/img/eli/eva.jpg" alt="">
                                        </div>
                                        <div class="columna">
                                            <img class="i2" src="assets/img/eli/dis.jfif" alt="">
                                        </div>
                                    </div>
                            </div>
                            <div class="modal-footer">
                                <button class="btn btn-primary" data-bs-dismiss="modal" (click)="modal.close()">
                                    <i class="fas fa-xmark fa-fw"></i>
                                    Cerrar
                                </button>
                            </div>
                        </div>
                    </ng-template>
                </section>
            </section>
</body>
</html>