video {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: auto;
	z-index: -10;
	visibility: visible;
	}

.p1{
text-align: justify;
}

.i1{
    height: 70px;
}
.i2{
    height: 70px;
}

.columna {
    float: left;
    width: 33%;
    padding-right: 5px;
}

.fila::after {
    content: "";
    clear: both;
    display: table;
}

.i{
    width: 300px;
    height: 300px;
}
